 <section id="intro" >
            <div class="container">
                <div class="row relative">
                    <%= image_tag"hand.png", alt: "wava", class: "intro-mobile img-responsive"%>
                    
                    <div class="col-md-6 col-md-offset-6">
                        <h1> Amanda Bell presents <span class="bold"> Red Emojis </span> Download Today</h1>

                        <p class="space40">
                             You will have access to over 100 emojis separated into categories. Red Emojis is an adult entertainment app that will allow you to enjoy and express how you really feel through the touch of your phone. Red Emojis app puts you into the comfort zone you need as an adult with emojis
                        </p>
                        <div class="downloads space10">
                            <a href="#"><%= image_tag "apple.png", alt: "apple" %></a>
                            
                        </div><!-- downloads end -->
                        <!-- <a class="hint page-scroll" href="#download">
                            Subscribe for our news
                        </a> -->

                    </div><!-- col-md-6 end -->
                </div><!-- row end -->
            </div><!-- container end -->
        </section><!-- intro end -->

        
        <!-- contact -->
        <section id="contact" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titleSection">
                            <h2>. IF YOU DON'T SEE THE INFORMATION YOU'RE LOOKING FOR, PLEASE EMAIL Amanda @ redemojis@gmail.com</h2>
                            <div class="coloredLine"></div>
                        </div><!-- titleSection end -->
                    </div><!-- col-md-12 end -->
                </div><!-- row end -->

                <div class="row">
            
                <div class="col-lg-4 col-md-4">
                <h1> New Features added Monthly</h1>
                <p>Initial Launch  September 2016</p>
                <p><em>'Red Emojis For iOS

                 Q: HOW DO I INSTALL AND USE THE RED EMOJIS KEYBOARD?

                 A: Once you have downloaded the Red Emojis app from the ITunes store, here's how to unlock and have access to All of Red Emojis Features:
                    
                    1. TAP "Unlock All for $1.99 "

                    2. TAP "Buy"

                    3. COMPLETE $1.99 in-app purchase

                    3. Go to Settings > General > Keyboard > Add New Keyboard.

                    4. TAP "Red KeyBoard-RedEmojis "Allow  Full Access. start sending!.'</em></p>
                </div>
                
                <div class="col-lg-4 col-md-4">
                <h1>GET IN TOUCH:</h1>
                <p><i class="fa fa-phone"></i> 404-707-1707</p>
                <p><i class="fa fa-envelope-o"></i> <a href="mailto:redemojis@gmail.com">redemojis@gmail.com</a></p>
                </div>
                
                <div class="col-lg-4 col-md-4">
                <h1>Amanda Bell:</h1>
                <p>Delivering high quality apps for low cost and maximum fun.</p>
                <p>Red Emojis Inc &copy; 2016</p>
                </div>
                
            </div>
            </div><!-- container end -->
        </section><!-- contact end -->




        <!-- contact -->
        <section id="contact" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titleSection">
                            <h2>PRIVACY POLICY</h2>
                            <div class="coloredLine"></div>
                        </div><!-- titleSection end -->
                    </div><!-- col-md-12 end -->
                </div><!-- row end -->

                <div class="row">
            
                <div class="col-lg-4 col-md-4">
                <h1> Effective Date: September 1, 2016</h1>
                <p><em>'Red Emojis For iOS
                  This Privacy Policy ("Policy") describes the privacy practices for our current and future online and mobile websites, platforms, services, applications, and any affiliated sites and associated applications with the www.redemojis.com website (the "Site"), which is owned and operated by Red Emoji INC ("Company" or "We"). This Policy applies only to information we collect on the Site. This Policy does not apply to information that we collect offline or on any other Company websites or apps, including websites you may access through this Site or you provide to or is collected by any third party. Our websites and apps and these third parties may have their own privacy policies, which we encourage you to read before providing information on or through them.
                 </em></p>
                </div>
                
                <div class="col-lg-4 col-md-4">
                <h1> Data Security</h1>
                <p><em>'Red Emojis For iOS
                  The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of the App, you are responsible for keeping this password confidential. You should not share your password with anyone. Unfortunately, the transmission of information via the Internet and mobile platforms is not completely secure. Although we take reasonable precautions to protect your personal information, we cannot guarantee the security of your personal information. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures we provide.


                 </em></p>
                </div>
                

                 <div class="col-lg-4 col-md-4">
                <h1> Data Security</h1>
                <p><em>Changes to Our Policy
            We may update our Policy from time to time. Non-material changes will take effect immediately. If we make material changes, we will notify you by email (at the email address you have provided to us) or through notice on www.KimKardashianWest.com, and will also indicate as much at the top of this page. Material changes will take effect 30 days after such notice. We encourage you to review this Policy at least every 30 days to check for material changes.
                 </em></p>
                </div>
                



            </div>
            </div><!-- container end -->
        </section><!-- contact end -->



