<footer>
            <div class="container">
                <div class="col-md-12">
                    <a href="#page-top" class="page-scroll"><%= image_tag "large.svg", alt:""%></a>
                    
                    <div class="space50"></div>
                    <ul  class="clearlist socialList">

                        <li><a href="http://www.twitter.com/redemojisx"><i class="fa fa-twitter"></i><span class="hidden-xs">Twitter</span></a></li>
                        <li><a href="http://www.instagram.com/redemojisapp"><i class="fa fa-instagram"></i><span class="hidden-xs">Instagram</span></a></li>
                    </ul>
                    <hr>
                    <p>&copy 2016; Red Emojis INC</p>
                </div><!-- col-md-12 end -->
            </div><!-- container end -->
        </footer>
